<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
  	<typeAlias type="advanced.App.dto.Project" alias="project"/>    
  </typeAliases>
  
  <environments default="development"> <!-- DB정보 목록 -->
      
    <environment id="development"> <!-- 개발할 때 사용하는 DB정보 -->
      <transactionManager type="JDBC"/> <!-- 트랜잭션 관리자 정보 -->
      <dataSource type="POOLED"> <!-- DB 연결정보 -->
        <property name="driver" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5433/springtest"/>
        <property name="username" value="postgres"/>
        <property name="password" value="#skdlf12"/>
      </dataSource>
    </environment>
    <!--  
    <environment id="operation"> 
      <transactionManager type="JDBC"/> 
      <dataSource type="POOLED"> 
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
    -->
  </environments>
  
  <mappers> <!-- SQL 파일 정보 -->
    <mapper resource="advanced/App/MapperXml/ProjectDao.xml"/>
  </mappers>
</configuration>